
body{
    margin: 0;
    padding: 0;
    
    
    font-size: 16px;
}
.main{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 8px;
    
}
h1{
    font-family: roboto;
    text-decoration: underline;
    font-weight: bold;
    margin: 20px auto 20px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    line-height: 80%;
    font-size: 1.4rem;
    text-shadow: 0.5px 0.5px 0.5px rgba(58, 53, 53, 0.9);
    letter-spacing: 3px;
    color: rgb(41, 40, 39);
    text-transform: uppercase;
}
span{
    color: #483eff;
}
table{
    line-height: 30px;
    
    width: 320px;
    
    background-color: rgb(249, 253, 253);
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;  
    box-shadow: 2px 2px 30px rgba(53, 48, 48, 0.767);
    border-radius: 10px;

}
tr th{
    background-color: rgb(11, 21, 110);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}

tr td{
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    border: 2px solid rgb(58, 58, 58);
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 2px;
    
    
    
}
tr{
    margin: 30px;
}
table tr{
    margin-top: 20px;
}
